/.idea/.gitignore
/_temp/_temp/figure_costume/51321620647_61a02aa839_k.jpg
/_temp/_temp/figure_costume/51322359051_5e8d834391_k.jpg
/_temp/_temp/figure_costume/51322557038_085835d420_k.jpg
/_temp/_temp/figure_costume/51322559128_3f662b125a_k.jpg
/_temp/_temp/figure_costume/51323078544_43ccf95d43_k.jpg
/_temp/_temp/figure_costume/51413830311_8efbeabdfa_k.jpg
/_temp/_temp/figure_costume/51413831046_e8cc0bae01_k.jpg
/_temp/_temp/figure_costume/51414096683_73d54327c2_k.jpg
/_temp/_temp/figure_costume/51414583314_66d2a0a9bc_k.jpg
/_temp/_temp/figure_costume/51414583369_d30c4b2975_k.jpg
/_temp/_temp/figure_costume/51414813535_c3ed6e555c_k.jpg
/_temp/_temp/figure_costume/51606378297_9d4b4a15ce_k.jpg
/_temp/_temp/figure_costume/51607205181_0046192f21_k.jpg
/_temp/_temp/figure_costume/51607422578_6bd9ad51e8_k.jpg
/_temp/_temp/figure_costume/51607860344_71bbfc669b_k-1.jpg
/_temp/_temp/figure_costume/51607861359_bf9ff36464_k.jpg
/_temp/_temp/figure_costume/51608081775_025cc75cb5_k.jpg
/_temp/_temp/birds/51688732522_8ef6823df1_k.jpg
/_temp/_temp/51688732522_8ef6823df1_k.jpg
/_temp/_temp/birds/51689601016_4742eed70e_k.jpg
/_temp/_temp/51689601016_4742eed70e_k.jpg
/_temp/_temp/birds/51689603366_e447bae15b_k.jpg
/_temp/_temp/51689603366_e447bae15b_k.jpg
/_temp/_temp/birds/51689790908_a334a4df9d_k.jpg
/_temp/_temp/51689790908_a334a4df9d_k.jpg
/_temp/_temp/birds/51689839723_622dd20285_k.jpg
/_temp/_temp/51689839723_622dd20285_k.jpg
/_temp/_temp/birds/51690201529_f1a970c8c1_k.jpg
/_temp/_temp/51690201529_f1a970c8c1_k.jpg
/_temp/_temp/birds/51690201839_07f857c5b8_k.jpg
/_temp/_temp/51690201839_07f857c5b8_k.jpg
/_temp/_temp/birds/51690202574_775105ecb5_k.jpg
/_temp/_temp/51690202574_775105ecb5_k.jpg
/_temp/_temp/birds/51690204569_c8d5a317d1_k.jpg
/_temp/_temp/51690204569_c8d5a317d1_k.jpg
/_temp/_temp/birds/51690415330_cf609d9a50_k.jpg
/_temp/_temp/51690415330_cf609d9a50_k.jpg
/_temp/_temp/birds/51690415880_a7dad4e6a6_k.jpg
/_temp/_temp/51690415880_a7dad4e6a6_k.jpg
/_temp/_temp/birds/51690416505_2051660e95_k.jpg
/_temp/_temp/51690416505_2051660e95_k.jpg
/_temp/_temp/birds/51690482910_a2fb77032c_k.jpg
/_temp/_temp/51690482910_a2fb77032c_k.jpg
/_temp/_temp/birds/51690496367_5bcf262905_k.jpg
/_temp/_temp/51690496367_5bcf262905_k.jpg
/_temp/_temp/birds/51690545332_bf249b3161_k.jpg
/_temp/_temp/51690545332_bf249b3161_k.jpg
/_temp/_temp/birds/51690546262_03c59aae63_k.jpg
/_temp/_temp/51690546262_03c59aae63_k.jpg
/_temp/_temp/birds/51690546482_b0c3f1acb0_k.jpg
/_temp/_temp/51690546482_b0c3f1acb0_k.jpg
/_temp/_temp/birds/51691294536_d43b9e0769_k.jpg
/_temp/_temp/51691294536_d43b9e0769_k.jpg
/_temp/_temp/birds/51691344301_ba3a55d976_k.jpg
/_temp/_temp/51691344301_ba3a55d976_k.jpg
/_temp/_temp/birds/51691602833_8d949d2ae7_k.jpg
/_temp/_temp/51691602833_8d949d2ae7_k.jpg
/_temp/_temp/birds/51691603983_edbfe5a08c_k.jpg
/_temp/_temp/51691603983_edbfe5a08c_k.jpg
/_temp/_temp/birds/51691613803_f8149fb794_k.jpg
/_temp/_temp/51691613803_f8149fb794_k.jpg
/_temp/_temp/birds/51691614978_695ecd0783_k.jpg
/_temp/_temp/51691614978_695ecd0783_k.jpg
/_temp/_temp/birds/51691977789_ec5bf86f96_k.jpg
/_temp/_temp/51691977789_ec5bf86f96_k.jpg
/_temp/_temp/birds/51692012859_b738798bbd_k.jpg
/_temp/_temp/51692012859_b738798bbd_k.jpg
/_temp/_temp/birds/51692184555_4b0c1f34d1_k.jpg
/_temp/_temp/51692184555_4b0c1f34d1_k.jpg
/_temp/_temp/birds/51692219185_86a38da972_k.jpg
/_temp/_temp/51692219185_86a38da972_k.jpg
/_temp/_temp/birds/51692221320_ed0a027890_k.jpg
/_temp/_temp/51692221320_ed0a027890_k.jpg
/_temp/_temp/birds/51692229970_587c842279_k.jpg
/_temp/_temp/birds/51692231200_174f3da8e3_k.jpg
/_temp/_temp/cars/51697501222_a438564ee9_k.jpg
/_temp/_temp/cars/51697504717_291880ac2e_k.jpg
/_temp/_temp/cars/51697506357_4dcf0248d8_k.jpg
/_temp/_temp/cars/51697546302_d546f7f0bf_k.jpg
/_temp/_temp/cars/51697547402_f279ed53f5_k.jpg
/_temp/_temp/cars/51697550492_dfb80af8c3_k.jpg
/_temp/_temp/cars/51698294401_86228bbd89_k.jpg
/_temp/_temp/cars/51698298966_83ca7ac4e5_k.jpg
/_temp/_temp/cars/51698299221_02b2e5c8d8_k.jpg
/_temp/_temp/cars/51698300126_e698a5377d_k.jpg
/_temp/_temp/cars/51698301041_5b8158567b_k.jpg
/_temp/_temp/cars/51698302166_023bff8202_k.jpg
/_temp/_temp/cars/51698316211_83750f733e_k.jpg
/_temp/_temp/cars/51698320831_0b04ee38e3_k.jpg
/_temp/_temp/cars/51698337061_d0e30c5e5b_k.jpg
/_temp/_temp/cars/51698337516_2675702a27_k.jpg
/_temp/_temp/cars/51698340761_342a92e039_k.jpg
/_temp/_temp/cars/51698341871_b868ee365c_k.jpg
/_temp/_temp/cars/51698575158_9d5926e681_k.jpg
/_temp/_temp/cars/51698576628_88542246a9_k.jpg
/_temp/_temp/cars/51698579198_0d2198d4f2_k.jpg
/_temp/_temp/cars/51698596413_3e79e9ac02_k.jpg
/_temp/_temp/cars/51698614563_a6662f1156_k.jpg
/_temp/_temp/cars/51698615743_366f739181_k.jpg
/_temp/_temp/cars/51698976239_9c75e3583c_k.jpg
/_temp/_temp/cars/51698978109_0ec45ca538_k.jpg
/_temp/_temp/cars/51698991544_1c6ff8a1ca_k.jpg
/_temp/_temp/cars/51698992759_5cf75f96fe_k.jpg
/_temp/_temp/cars/51698996374_734999f17b_k.jpg
/_temp/_temp/cars/51698996994_b2df4e71c7_k.jpg
/_temp/_temp/cars/51699013039_eabae22775_k.jpg
/_temp/_temp/cars/51699014839_8d00f29751_k.jpg
/_temp/_temp/cars/51699180065_4a8bc28fdb_k.jpg
/_temp/_temp/cars/51699184180_07a4225107_k.jpg
/_temp/_temp/cars/51699187425_c87ada459f_k.jpg
/_temp/_temp/cars/51699201795_b3eb38ea3f_k.jpg
/_temp/_temp/cars/51699203195_bd1adc541c_k.jpg
/_temp/_temp/cars/51699225000_1998bc360d_k.jpg
/_temp/_temp/cars/51699225390_bcfd8b0e3f_k.jpg
/_temp/_temp/cars/51699228795_2db042ee18_k.jpg
/_temp/_temp/birds/alex-v-9EUiWm4k-Zo-unsplash.jpg
/_temp/_temp/animal_skeleton/Animal-Skeletons-5.jpg
/_temp/_temp/animal_skeleton/Animal-Skeletons-23.jpg
/_temp/_temp/animal_skeleton/Animal-Skeletons-26.jpg
/_temp/_temp/animal_skeleton/Animal-Skeletons-49.jpg
/_temp/_temp/animal_skeleton/Animal-Skeletons-66.jpg
/_temp/_temp/birds/birger-strahl-elgJYZaVPn0-unsplash.jpg
/_temp/_temp/figure_costume/Bridget_51593288326_bb9cb673c1_o.jpg
/_temp/_temp/figure_costume/Bridget_51593950989_df61009108_o.jpg
/_temp/_temp/figure_costume/Bridget_51594184285_eb54e5a30d_o.jpg
/_temp/_temp/birds/c-perret-ldmkpHJOXTw-unsplash.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-1.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-2-1.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-3.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-4.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-5.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-6.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-7.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-8.jpg
/_temp/_temp/birds/CharlesHuDynamicSketching-1-9.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-1.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-2.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-3.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-6.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-7.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-8.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-9.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-12.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-13.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-16.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-17.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-25.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-31.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-33.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-34.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-35.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-36.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-37.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-38.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-43.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-44.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-45.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-49.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-65.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-66.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-67.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-72.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-74.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-75.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-76.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-77.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-78.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-79.jpg
/_temp/_temp/animal_skeleton/CharlesHuDynamicSketching-Skeletons-80.jpg
/_temp/_temp/birds/CharlesHuDynamicSketchingweek4.jpg
/_temp/_temp/birds/CharlesHuDynamicSketchingweek4-2.jpg
/_temp/_temp/birds/CharlesHuDynamicSketchingweek4-3.jpg
/_temp/_temp/birds/CharlesHuDynamicSketchingweek4-4.jpg
/_temp/_temp/birds/CharlesHuDynamicSketchingweek4-7.jpg
/_temp/_temp/birds/CharlesHuDynamicSketchingweek4-8.jpg
/_temp/_temp/birds/CharlesHuDynamicSketchingweek4-9.jpg
/_temp/_temp/figure_costume/CharlesHuDynamicSketchingweek6-2.jpg
/_temp/_temp/figure_costume/CharlesHuDynamicSketchingweek6-3.jpg
/_temp/_temp/figure_costume/CharlesHuDynamicSketchingweek6-4.jpg
/_temp/_temp/figure_costume/CharlesHuDynamicSketchingweek6-5.jpg
/_temp/_temp/figure_costume/CharlesHuDynamicSketchingweek6-6.jpg
/_temp/_temp/cars/CharlesHuDynamicSketchingweek7.jpg
/_temp/_temp/cars/CharlesHuDynamicSketchingweek7-2.jpg
/_temp/_temp/cars/CharlesHuDynamicSketchingweek7-3.jpg
/_temp/_temp/animal_skeleton/CharlesHuweek1.jpg
/_temp/_temp/animal_skeleton/CharlesHuweek1-2.jpg
/_temp/_temp/birds/CharlesHuWeek4-2.jpg
/_temp/_temp/birds/CharlesHuWeek4-3.jpg
/_temp/_temp/birds/CharlesHuweek4-4.jpg
/_temp/_temp/figure_costume/CharlesHuWeek6.jpg
/_temp/_temp/figure_costume/CharlesHuWeek6-2.jpg
/_temp/_temp/figure_costume/CharlesHuWeek6-4.jpg
/_temp/_temp/figure_costume/CharlesHuWeek6-5.jpg
/_temp/_temp/cars/CharlesHuWeek7.jpg
/_temp/_temp/cars/CharlesHuWeek7-2.jpg
/_temp/_temp/cars/CharlesHuWeek7-3.jpg
/_temp/_temp/cars/CharlesHuWeek7-4.jpg
/_temp/_temp/birds/david-clode-3hS38B5X1_s-unsplash.jpg
/_temp/_temp/difference_name.jpg
/_temp/_temp/birds/eugene-chystiakov-qzZxGvPjsKU-unsplash.jpg
/_temp/_temp/figure_costume/Figure-Costume-39.jpg
/_temp/_temp/figure_costume/Figure-Costume-64.jpg
/_temp/_temp/figure_costume/Figure-Costume-84.jpg
/_temp/_temp/figure_costume/Figure-Costume-102.jpg
/_temp/_temp/figure_costume/Figure-Costume-140.jpg
/_temp/_temp/figure_costume/Figure-Costume-146.jpg
/_temp/_temp/cars/File_018.jpg
/_temp/_temp/cars/File_019.jpg
/_temp/_temp/cars/File_033.jpg
/_temp/_temp/cars/File_039.jpg
/_temp/_temp/cars/File_040.jpg
/_temp/_temp/cars/File_048.jpg
/_temp/_temp/cars/File_116.jpg
/_temp/_temp/cars/File_117.jpg
/examples/delete/file_renamer.py
/file_renamer.py
/_temp/filename1.png
/_temp/filename3.png
/_temp/filename4.png
/_temp/filename5.png
/_temp/filename6.png
/_temp/_temp/figure_costume/GV-Draped-LS_Bridgette-4.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Bridgette-7.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Bridgette-10.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Jonny-1.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Jonny-5.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Jonny-9.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Kayci-2.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Lucas-2.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Lucas-5.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Mark-1.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Mark-3.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Mark-10.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Scott-3.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Scott-6.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Scott-7.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Shoko-1.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Shoko-2.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Sophia-2.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Sophia-3.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Sophia-4.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Taryn-2.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Taryn-8.jpg
/_temp/_temp/figure_costume/GV-Draped-LS_Taryn-9.jpg
/image_sharpener.py
/_temp/_temp/birds/mathew-schwartz-i4Y9hr5dxKc-unsplash.jpg
/.idea/misc.xml
/.idea/modules.xml
/packages.txt
/_temp/_temp/birds/philippe-oursel-wKU0nVSE29c-unsplash.jpg
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/rename_tool.iml
/_temp/_temp/birds/roberto-navarro-b_KtH3ZOA0w-unsplash.jpg
/_temp/_temp/same_name.jpg
/_temp/_temp/birds/san-diego-zoo-birds-1-of-326.jpg
/examples/sc_file_data.png
/examples/sc_file_delete.png
/examples/sc_file_names.png
/examples/sc_file_ui.png
/.idea/vcs.xml
